@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,700&display=swap");
*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

:root {
  --color-red: hsl(0, 100%, 74%);
  --color-green: hsl(154, 59%, 51%);
  --color-blue: hsl(248, 32%, 49%);
  --color-dark-blue: hsl(249, 10%, 26%);
  --color-grayish-blue: hsl(246, 25%, 77%);
  --color-white: #fff;
  --color-black: #000;
  --border-radius: 7px;
  --font-size: 1.6rem;
  --font-family: "Poppins", serif;
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: 400; }

.sign-up-component {
  width: 100%;
  display: flex;
  justify-content: center; }

.container {
  box-shadow: 0 0.5rem 3rem 1rem rgba(96, 85, 165, 0.2), 0 6rem 5rem -3rem rgba(96, 85, 165, 0.3);
  max-width: 144rem;
  width: 100%;
  max-height: 80rem; }

.sign-up {
  height: 100%;
  width: 100%;
  background: var(--color-red) url("../images/bg-intro-desktop.png") no-repeat center;
  background-size: cover;
  padding: 12rem 16.5rem;
  display: flex;
  align-items: center; }
  .sign-up__left {
    flex: 1;
    margin-right: 7.5rem;
    color: var(--color-white); }
    .sign-up__left h1 {
      font-size: 4.6rem;
      line-height: 1.2; }
    .sign-up__left p {
      margin-top: 3rem; }
  .sign-up__right {
    flex: 1; }

.btn,
.btn:visited {
  font-weight: 400;
  position: relative;
  font-family: inherit;
  outline: none;
  padding: 1.6rem 1rem;
  width: 100%;
  border: none;
  border-radius: var(--border-radius);
  color: var(--color-white);
  font-size: 1.5rem;
  box-shadow: 0 8px rgba(0, 0, 0, 0.2);
  transition: all .2s ease-in-out;
  cursor: pointer; }

.btn:hover {
  filter: grayscale(0.15) brightness(1.1);
  transform: translateY(-3px);
  box-shadow: 0 6px 0 3px rgba(0, 0, 0, 0.05); }

.btn::after {
  content: '';
  width: 100%;
  height: 100%;
  border: 1px solid rgba(62, 60, 73, 0.6);
  position: absolute;
  border-radius: var(--border-radius);
  top: 0;
  left: 0;
  opacity: 0; }

.btn:focus::after {
  opacity: 1; }

.btn:active {
  filter: brightness(0.9);
  transform: translateY(-1px);
  box-shadow: 0 4px 0 #6055a5; }

.btn-sub {
  font-weight: 300;
  background-color: var(--color-blue);
  margin-bottom: 2.5rem; }
  .btn-sub span {
    font-weight: 700; }

.btn-submit {
  background-color: var(--color-green);
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 4px #47b887; }

.btn-submit:hover {
  box-shadow: 0 4px #47b887; }

.btn-submit:active {
  box-shadow: 0 4px #39936c; }

.sign-up-form {
  width: 100%;
  max-height: 56.3rem;
  font-family: inherit;
  background-color: var(--color-white);
  padding: 4rem 4rem 4.5rem 4rem;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  box-shadow: 0 8px rgba(0, 0, 0, 0.2); }
  .sign-up-form__input-group {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.9rem; }
    .sign-up-form__input-group--icon {
      position: absolute;
      right: 2.5rem;
      top: 1.55rem;
      opacity: 0;
      transform: scale(0);
      transition: .3s all ease-in-out; }
    .sign-up-form__input-group--label {
      opacity: 0;
      display: none;
      align-self: flex-end;
      padding-top: .8rem;
      position: relative;
      font-size: 1.1rem;
      color: var(--color-red);
      font-style: italic;
      transition: .2s all ease-in-out; }
    .sign-up-form__input-group--input {
      width: 100%;
      border: 1px solid rgba(62, 60, 73, 0.2);
      height: 5.5rem;
      padding-left: 3rem;
      padding-right: 5.5rem;
      border-radius: 6px;
      font-family: inherit;
      font-weight: 700;
      font-size: inherit;
      transition: .2s all ease-in-out; }
      .sign-up-form__input-group--input::-webkit-input-placeholder {
        color: rgba(62, 60, 73, 0.6); }
      .sign-up-form__input-group--input:focus {
        outline: none;
        border: 1px solid var(--color-blue); }
        .sign-up-form__input-group--input:focus:invalid {
          border: 1px solid var(--color-red); }
  .sign-up-form .error svg {
    opacity: 1;
    transform: scale(1); }
  .sign-up-form .error label {
    opacity: 1;
    display: inline-block; }
  .sign-up-form .error input {
    border: 1px solid var(--color-red);
    color: var(--color-red); }
    .sign-up-form .error input::-webkit-input-placeholder {
      opacity: 0; }
    .sign-up-form .error input:focus {
      outline: none;
      border: 2px solid var(--color-red); }
      .sign-up-form .error input:focus:invalid {
        border: 1px solid var(--color-red); }
  .sign-up-form .success svg {
    opacity: 0; }
  .sign-up-form .success label {
    opacity: 1;
    display: inline-block;
    color: var(--color-green); }
  .sign-up-form .success input {
    border: 1px solid var(--color-green); }
    .sign-up-form .success input:focus {
      outline: none;
      border: 2px solid var(--color-green); }
  .sign-up-form .sign-up-info {
    padding-top: 2rem;
    text-align: center;
    color: var(--color-grayish-blue);
    font-size: 1.1rem;
    font-weight: 400; }
    .sign-up-form .sign-up-info a {
      font-weight: 700;
      text-decoration: none;
      color: var(--color-red); }
      .sign-up-form .sign-up-info a:focus {
        outline: 1px solid #6055a5; }

footer .attribution {
  width: 100%;
  margin: 0 auto;
  color: rgba(65, 58, 58, 0.7);
  padding: 6rem 3.3rem 5rem 3.3rem;
  text-align: center; }

footer .attribution a,
footer .attribution a:visited {
  color: #38cc8c;
  text-decoration: none;
  transition: color .3s ease;
  outline: none; }

footer .attribution a:hover {
  color: #207e55; }

@media only screen and (max-width: 1399px) {
  .sign-up {
    padding: 12rem 5vw; }
    .sign-up__left {
      text-align: center;
      margin-right: 2vw; }
      .sign-up__left h1 {
        padding-top: 6.2rem;
        font-size: 3.7rem;
        line-height: 1.3;
        margin: 0 auto; }
      .sign-up__left p {
        margin-top: 2.5rem;
        line-height: 1.65; }
  .sign-up-form__input-group {
    padding-bottom: 1.6rem; }
    .sign-up-form__input-group--input {
      padding-left: 1.5rem;
      padding-right: 5rem;
      font-size: 1.5rem; }
    .sign-up-form__input-group--input::placeholder {
      font-weight: bold; }
    .sign-up-form__input-group--icon {
      right: 1.5rem;
      top: 1.55rem; } }

@media only screen and (max-width: 769px) {
  .container {
    max-height: 110rem; }
  .sign-up {
    background: var(--color-red) url("../images/bg-intro-mobile.png") no-repeat;
    background-size: cover;
    flex-direction: column;
    padding: 3rem 2.5rem;
    height: 100%; }
    .sign-up__left h1 {
      font-size: 2.7rem; }
    .sign-up .btn,
    .sign-up .btn:visited {
      align-items: center;
      height: auto;
      padding: 1.7rem 7.5rem; }
    .sign-up .btn-sub {
      background-color: var(--color-blue);
      margin-top: 3.8rem; }
    .sign-up .btn-submit {
      padding: 1.5rem 1rem;
      margin-top: 0; }
    .sign-up .sign-up-form {
      padding: 2.5rem; } }

@media only screen and (max-width: 500px) {
  .container {
    min-height: 100rem; } }

@media only screen and (max-width: 362px) {
  .sign-up {
    padding: 2rem 1rem; }
    .sign-up .btn-sub {
      background-color: var(--color-blue);
      margin-top: 3.8rem;
      padding: 1.7rem 2.5rem; } }
